*{
    margin:0;
    padding: 0;
}
.content {
    height: 8vh;
    width: 100%;
    background-color: rgb(136, 163, 163);
    position: sticky;
    top: 0; /* Now the element will stick at the top of the page */
    z-index: 1000; /* Ensure it stays above other content */
}

.start{
    height: 90vh;
    width: 100%;
    background-color: #F2C12E;
    display: flex;
    flex-wrap: wrap;
}

.logo {
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: space-around;
    font-size: 25px;
}
.image-div{
    height: 75%;
    width: 35%;
    display: flex;
    margin-left: 180px;
}
.image{
    width: 100%;
    height: 100%;
    }
    .text{
        width: 50%;
        height: 80%;
       display: flex;
       flex-direction: column;
       align-items: center;
       font-size: 18px;
       font-family: Tahoma, sans-serif;
       justify-content: center;
       letter-spacing: 9px;
       margin-right: 18px;
    }
    .contentone{

        height: 25vh;
        width: 100%;
        background-color: #ece3e3;
        align-items: center;
    }
    .titulo1{
        height: 13vh;
        width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    }
    .subtitulo{
        height: 10vh;
        width: 100%;
        display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    }

  .text-image1{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #ece3e3;
    justify-content: center;
  }
.one{
    height: 50%;
    width: 30%;
    background-color: #ece3e3;
    background-image: url(/Images/uno.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0,1);
    background-size: contain;
}
.two{
    height: 50%;
    width: 30%;
    background-color: #ece3e3;
    background-image: url(/Images/2.png);
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    align-content: center;
    line-height: 20px;
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0,1);
}
.three{
    height: 50%;
    width: 30%;
    background-color: #ece3e3;
    background-image: url(/Images/tres.png);
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    align-content: center;
    line-height: 20px;
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0,1);
}
.four{
    height: 50%;
    width: 30%;
    background-color: #ece3e3;
    background-image: url(/Images/cuatro.png);
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    align-content: center;
    line-height: 20px;
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0,1);
}
.five{
    height: 50%;
    width: 30%;
    background-color: #ece3e3;
    background-image: url(/Images/5.png);
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    align-content: center;
    line-height: 20px;
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0,1);
}
.six{
    height: 50%;
    width: 30%;
    background-color: #ece3e3;
    background-image: url(/Images/6.png);
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    align-content: center;
    line-height: 20px;
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0,1);
}
.text-image2{
    height: 97vh;
    width: 100%;
    display: flex;
}
.texto-titulo{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    height: 97%;
    width:50% ;
}
.there {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    height: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
    .there-divtop{
        height: 30%;
        width: 80%;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .there-divend{
        padding-left: 10px;
        padding-right: 10px;
        height: 70%;
        width: 90%;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        text-align: justify;
        justify-content: center;
        gap: 20px;
    }
    .button{
        height: 40%;
        width: 50%;
        align-content: center;
        text-align: center;
    }
    
.imag2{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: flex-end;
}
.img2{
    height: 95%;
    width: 100%;
    background-size: contain;
    display: flex;
    align-content: cen;
}
.text-image3{
    height: 80vh;
    width: 100%;
    display: flex;
    background-color: rgb(211, 171, 171);
    
}
.text-left{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
.text-top{
    width:50%;
    height: 15%;
    line-height: 40px;
}

.text-end{
    height: 50%;
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.text-end p{
    padding-right: 10px;
}
.text-end h1{
    display: flex;
    justify-content: flex-start;
}
.right-image3{
    height: 100%;
    width: 45%;
}
.image3{
    background-size:contain ;
     height: 80%;
     width: 50%;
}
.text-image4{
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
}
.first{
    height: 100%;
    width: 100%;
    background-color: aquamarine;
}

.left4 {
    height: 100%;
    width: 50%;
    background-color: cadetblue;
}
.top-text4{
    
    
}
.text-end4{
    height: 20px;
    width: auto;
    
}

.right-image4{
    height: 100%;
    width: 30%;
    flex-wrap: wrap;
    
}
.left-4 {
    width: 60%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;


}
.descriptionContent {
    width: 100%;
    display: flex;
    justify-content: center;
}
.resultsDescription {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titleDescription {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;

}
.contentTitleDescription {
    width: 20%;
}

span {
    font-weight: bold;
    color: black;
    text-decoration: none;
    
    
}
a {
   
    text-decoration: none;
}
button {
    margin-top: 5px;
}
.image4 {
    height: 100%;
   
}

.information {
    height: 60vh;
    width: 100%;
    background-color: red;
}

.info {
    width: 100%;
    line-height: 50px;
    height: 50%;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info h1 {
    font-family: 'Arial Black', 'Impact', sans-serif;
    font-weight: bold;
}





/* bellow this is where roger the bello will work in his final years of ___ */

.Contact-Form{
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}

.top-CF{
 height: 30%;
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
}

.h1-CF{
    position: absolute;
    color: #404040 ;
    font-size: 200px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.h2-CF{
    position: relative;
    z-index: 1;
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #F2C12E;
}

.left-CF{
 height: 70%;
 width: 40%;
 display: flex;
 align-items: center;
 justify-content: center;
}

.container-CF {
    height: 90%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

}

.c-top {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    font-size: medium;
    color: white;
}

.c-top p{
    font-family: 'Roboto', sans-serif;
}

.c-middle {
    height: 30%;
    width: 100%;
}

.c-middle h6{
 font-size: 18px;
 font-family: 'Roboto', sans-serif;
 color: white;
}

.c-middle img{
 height: 50px;
 width: 50px;
}

.c-bottom{
    height: 30%;
    width: 100%;
}

.c-bottom h6{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.c-bottom img{
    height: 50px;
    width: 50px;
   
}


.right-CF{
 height: 70%;
 width: 60%;
 display: flex;
 align-items: center;
 justify-content: center;
}

.container-form {
    height: 100%;
    width: 100%;
}

.cf-f{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.name{
 height: 10%;
 width: 75%;
 background-color: black;
 border: 3px solid white;
 padding-left: 5px;
 
}


.email{
    height: 10%;
    width: 75%;
    background-color: black;
    border: 3px solid white;
    padding-left: 5px;
}

.message{
width: 75%;
background-color: black;
border: 3px solid white;
padding-left: 5px;
padding-top: 5px;
}

.container-CB {
    height: 10%;
    width: 75%;
    color: white;
}

.container-btn {
    height: 12%;
    width: 75%;
}
.btn-CF{
    height: 100%;
    width: 20%;
    background-color: #F2C12E;
    border-radius: 40px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.btn-CF:hover{
    background-color: #b99e34;
}